@model SMK.Data.Entity.GenEmpData

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Account" class="control-label"></label>
                            <input asp-for="Account" class="form-control" />
                            <span asp-validation-for="Account" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="enableSwitch" asp-for="Enable">
                                <label class="custom-control-label" for="enableSwitch"> @Html.DisplayNameFor(model => model.Enable)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="更新" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-info">回上頁</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
