<script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>

<section class="wrapper">
    <div class="content-wrapper">
        <section class="content container-fluid">
            @RenderBody()
        </section>
    </div>
</section>


