@using SMK.Data.Entity
@using SMK.Web.Heppers
@using SMK.Web.Services.Foundation
@model ICRateByMonthQueryModel
@inject ICardService iCardService;

@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
    var GenHospContsList = await iCardService.GetSelectLists<GenHospCont>(
                                                context => context.GenHospCont,
                                                x => x.HospContName,
                                                x => x.HospContName);
}

<div class="row mb-4">
    <div class="col-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="col-sm-12">
                    <form id="queryFormICRateByMonth" asp-controller="ICRateByMonth" asp-action="Export" class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row mb-4">
                            <div class="col-2 text-right">
                                <label asp-for="HospID" class="col-form-label"></label>
                            </div>
                            <div class="col-3">
                                <input name="HospID" id="HospIDICRateByMonth" class="form-control" placeholder="機構代碼" />
                            </div>
                            <div class="col-1">
                                <input name="HospSeqNo" id="HospSeqNoICRateByMonth" class="form-control" placeholder="院區別" value="00" />
                            </div>
                            <div class="col-2 text-right">
                                <label class="col-form-label text-right">醫事機構名稱</label>
                            </div>
                            <div class="col-3">
                                <input name="HospName" id="HospNameICRateByMonth" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-2 text-right">
                                <label asp-for="YearMonthStart" class="col-form-label"></label>
                            </div>
                            <div class="col-3">
                                <input name="YearMonthStart" id="YearMonthStartICRateByMonth" class="form-control" placeholder="年月(起) 如：108/01" />
                            </div>
                            <div class="col-3">
                                <input name="YearMonthEnd" id="YearMonthEndICRateByMonth" class="form-control" placeholder="年月(迄) 如：108/02" />
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <input type="checkbox" name="RateFor90Percent" id="RateFor90PercentICRateByMonth" class="form-control col-2" />
                                <label class="col-form-label ml-3" for="RateFor90PercentICRateByMonth">
                                    過卡率未達90%
                                </label>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="form-inline col-5">
                                <label class="col-sm col-form-label text-right">醫院層級</label>
                                @Html.MyDropDownList("HospContName",
                                         GenHospContsList,
                                         (m) => m,
                                         new { @class = "form-control col-sm-7", id = "HospContNameICRateByMonth" }, true)
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            @*<i class="fa fa-file-excel"></i>*@
                            <input value="匯出Excel" type="submit" asp-controller="ICRateByMonth" asp-action="ExportICRateByMonth" asp-route-fileType="xlsx" class="btn btn-primary mr-2" />
                            <input value="匯出ODS" type="submit" asp-controller="ICRateByMonth" asp-action="ExportICRateByMonth" asp-route-fileType="ods" class="btn btn-primary mr-2" />
                            @*<i class="fa fa-file-excel"></i>*@
                            <button id="btnQueryICRateByMonth" type="button" class="btn btn-primary">查詢</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-12 text-right">
                </div>
            </div>
            <div class="card-body">
                <div class="col-sm-12 table-responsive">
                    <table id="DeclareTableICRateByMonth" class="table table-striped table-bordered table-hover" role="grid">
                        <thead>
                            <tr role="row" class="m-2">
                                健保卡過卡-層級別醫院別每月過卡率
                            </tr>
                            <tr role="row">
                                <th data-orderable="false" class="text-nowrap">序號</th>
                                <th class="text-nowrap">醫院層級 &emsp;</th>
                                <th class="text-nowrap">醫事類別 &emsp; &emsp; &emsp; &emsp;</th>
                                <th class="text-nowrap">醫事機構代碼</th>
                                <th class="text-nowrap">院區別</th>
                                <th class="text-nowrap">醫事機構名稱 &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</th>
                                <th class="text-nowrap">費用年月</th>
                                <th class="text-nowrap">治療型態</th>
                                <th class="text-nowrap">樣本</th>
                                <th class="text-nowrap">過卡率(%)</th>
                                <th class="text-nowrap">未過卡率(%)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#YearMonthStartICRateByMonth").datepicker({
            dateFormat: 'yyyy/mm',
            changeMonth: true,
            changeYear: true,
        });
        $("#YearMonthEndICRateByMonth").datepicker({
            dateFormat: 'yyyy/mm',
            changeMonth: true,
            changeYear: true,
        });
        $('#HospIDICRateByMonth,#HospSeqNoICRateByMonth').on('keyup', async function () {
            var hospID = $('#HospIDICRateByMonth').val();
            var hospSeqNo = $('#HospSeqNoICRateByMonth').val() === null ? "00" : $('#HospSeqNoICRateByMonth').val();
            const { data } = await axios.get('@Url.Action("GetHospName", "HospBasic")', { params: { hospID, hospSeqNo }, hideMask: true });
            if (data !== undefined) {
                $('#HospNameICRateByMonth').val(data);
            }
        });
    });
    var $declareTableICRateByMonth;

    $(function () {
        $("#btnQueryICRateByMonth").on("click", queryICRateByMonth);
    });
    function queryICRateByMonth() {
        if ($declareTableICRateByMonth)
            $declareTableICRateByMonth.destroy();


        var ajax = function (data, callback, settings) {

            //北市聯醫還不能分開搜尋，需要加入[院區別]的篩選條件
            if ($('#HospIDICRateByMonth').val() == "0101090517" && ($('#HospSeqNoICRateByMonth').val() == "00" || $('#HospSeqNoICRateByMonth').val() == "")) {
                myAlert.error("北市聯醫不能分開搜尋", "請輸入院區別", true);
                $('#HospSeqNoICRateByMonth').val("");
                return;
            }

            //debugger;
            var o = $("#queryFormICRateByMonth").serializeObject();
            o.draw = data.draw;
            o.start = data.start;
            o.length = data.length;
            $.post('@Url.Action("QueryICRateByMonth", "ICRateByMonth")', o, function (res) {
                if (!res.isSuccess) {
                    myAlert.error("查詢錯誤", res.errMsg, true);
                    return;
                }
                //debugger;
                //console.table(res.data)
                callback(res.data);
            });
        };

        $declareTableICRateByMonth = $("#DeclareTableICRateByMonth").DataTable({
            "scrollY": "600px",//可选，是否固定表格高度，不包括表头；
            "scrollCollapse": true,//与scrollY结合使用，是否固定高度，默认false;
            "serverSide": true,
            "scrollX": true,
            "ajax": ajax,
            "paging": true,
            "searching": false,
            "ordering": false,
            "columns": [
                {
                    className: "sorting_1",
                    data: null,
                    width: "5%",
                    targets: 0,
                    render: function (data, type, full, meta) {
                        var settings = meta.settings;
                        var serial = meta.row + 1 + settings._iDisplayLength * settings._iDisplayStart / settings._iDisplayLength;
                        return serial;
                    }
                },
                { data: "lastContType" },
                { data: "hospDataType" },
                { data: "hospID" },
                { data: "hospSeqNo" },
                { data: "hospName" },
                { data: "feeYM" },
                { data: "cureType" },
                { data: "samples" },
                { data: "rate" },
                { data: "noRate" },
            ]
        });
    }
</script>


